@model KiabiHackatonAmaris.Models.ProductViewModal

@{
    ViewBag.Title = "Home Page";

}
@*<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">*@
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="jumbotron">
    <h1>Easy P-Tracking App</h1>
    <p>Suivez et trouvez facilement votre article</p>
    <p>que vous rechercher dans les magasins de KIABI</p>
</div>
<hr style="border-width:3px; border-bottom-width:thick; color:black" />
<br />
<div class="panel panel-info">
    <div class="panel-heading">Search Area</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <a href="#" id="AdvancedSearchAnchor">Advanced Search <i class="fa fa-caret-down" aria-hidden="true"></i></a>
            </div>
        </div>

        <hr>

        <div id="advancedSearchDiv" class="row visible">
            <div class="col-md-12 form-group">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="col-md-5">
                                <label class="control-label">Choose a Store</label>
                            </div>
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.PagedList.FirstOrDefault().TheStore, new SelectList(Model.PagedList.FirstOrDefault().getStores(), "Value", "Text"), "- Select store-", new { @class = "dropdown", style = "width:100%;" })

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="col-md-5">
                                <label class="control-label">Groups</label>
                            </div>
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.PagedList.FirstOrDefault().Gender, new SelectList(Model.PagedList.FirstOrDefault().getGroups(), "Value", "Text"), "- Select Group -", new { @class = "dropdown", style = "width:100%;" })

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12 form-group">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="col-md-5">
                                <label class="control-label">Categories</label>
                            </div>
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.PagedList.FirstOrDefault().TheType, new SelectList(Model.PagedList.FirstOrDefault().getTypes(), "Value", "Text"), "- Select Type -", new { @class = "dropdown", style = "width:100%;" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-5">
                                <label class="control-label">Choose Color</label>
                            </div>

                            <div class="col-md-7">

                                @Html.DropDownListFor(model => model.PagedList.FirstOrDefault().TheColor, new SelectList(Model.PagedList.FirstOrDefault().getColors(), "Value", "Text"), "- Select Color -", new { @class = "dropdown", style = "width:100%;" })

                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12 form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4"></div>
                        <div class="col-md-4" style="text-align: center;">
                            <button class="btn btn-info searchBtn" type="button" data-url="@Url.Action("SearchTable", "Home")">
                                <span class="fa-search fa"></span>
                                Search
                            </button>
                            <button class="btn btn-info" type="button" id="clearRefreshBtn" data-url="@Url.Action("SearchTable", "Home")">
                                <i class="icon-refresh"></i>
                                <span>Clear Filter</span>
                            </button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <img src="@Model.PagedList[0].Picture">
            <div class="caption">
                <h4>@Model.PagedList[0].Label</h4>
                <p>@Model.PagedList[0].Price €</p>
                <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal">Position dans le magasin</a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <img src="@Model.PagedList[1].Picture">
            <div class="caption">
                <h4>@Model.PagedList[1].Label</h4>
                <p>@Model.PagedList[1].Price €</p>
                <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal" >Position dans le magasin</a></p>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <img src="@Model.PagedList[2].Picture">
            <div class="caption">
                <h4>@Model.PagedList[2].Label</h4>
                <p>@Model.PagedList[2].Price €</p>
                <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal">Position dans le magasin</a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <img src="@Model.PagedList[3].Picture">
            <div class="caption">
                <h4>@Model.PagedList[3].Label</h4>
                <p>@Model.PagedList[3].Price €</p>
                <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal" >Position dans le magasin</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <img src="@Model.PagedList[4].Picture">
            <div class="caption">
                <h4>@Model.PagedList[4].Label</h4>
                <p>@Model.PagedList[4].Price €</p>
                <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal" >Position dans le magasin</a></p>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <img src="@Model.PagedList[5].Picture">
            <div class="caption">
                <h4>@Model.PagedList[5].Label</h4>
                <p>@Model.PagedList[5].Price €</p>
                <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal" >Position dans le magasin</a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <img src="@Model.PagedList[6].Picture">
            <div class="caption">
                <h4>@Model.PagedList[6].Label</h4>
                <p>@Model.PagedList[6].Price €</p>
                <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal" >Position dans le magasin</a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <img src="@Model.PagedList[7].Picture">
            <div class="caption">
                <h4>@Model.PagedList[7].Label</h4>
                <p>@Model.PagedList[7].Price €</p>
                <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal" >Position dans le magasin</a></p>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">product Location</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Map</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Group</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                  
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Theme</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                   
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                   
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                   
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnChooseNeed" type="button" class="btn btn-primary" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>


@section scripts
{
}



